
.action__ad-nintendo {
    position: relative;
    display: var(--d-grid);
}
.action__info-nintendo {
    background-color: var(--neutral-600);
    display: var(--d-grid);
    grid-template-rows: auto 50%;
}
.action__header {
    padding: 1rem;
}
.action__heading {
    color: var(--white);
    font-size: clamp(1.5rem, 3vw, 4rem);
}
.action__subheading {
    color: var(--neutral-300);
    font-size: clamp(1rem, 3.5vw, 2rem);
}
.action__price {
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
    color: var(--neutral-300);
    right: 1rem;
    top: 5rem;
    transform: rotate(20deg);
    opacity: .8;
    z-index: 1;
}
.action__price:after {
    content: 'samo';
    position: absolute;
    font-size: 1.4rem;
    color: var(--neutral-300);
    left: 0rem;
    top: -.8rem;
    opacity: .7;
}
.action__countdown {
    display: var(--d-flex);
    margin-inline: auto;
    gap: 5px;
    margin: auto;
    width: fit-content;
    align-items: baseline;
    padding: .4rem .6rem;
    border-radius: 100vmax;
    background-color: hsl(24, 59%, 46%);
    color: var(--white);
    background-color: var(--white);
    color: var(--neutral-700);
    outline: 3px solid var(--neutral-400);
}
.action__countdown span {
    color: var(--neutral-600);
}
.action__footer {
    position: relative;
    display: var(--d-grid);
    padding: var(--measure-1);
    place-items: var(--center);
    background-color: var(--gray-900);
}
.action__footer .buy-btn{
    position: static;
    transform: translate(0);
    margin: var(--measure-1);
}
@media (min-width: 22.813rem){
    .action__footer {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 33.125rem) {
    .action__header {
        display: var(--d-grid);
        place-items: var(--center);
    }
    .action__ad-nintendo {
        display: grid;
        grid-template-columns: 27% 1fr;
    }
}