.carousel-slider {
    position: relative;
}
.carousel__container {
}
.carousel__wrapper {
    display: var(--d-flex);
    gap: 1rem;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
}
.carousel-slider::after {
    content: '';
    position: absolute;
    display: block;
    background: linear-gradient(90deg, transparent, hsl(0, 0%, 100%));
    width: 8rem;
    right: 0;
    top: 0;
    height: 100%;
}
.carousel-slider__heading {
    margin-bottom: 1rem;
}
.carousel-slider__btns {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    display: var(--d-flex);
    justify-content: space-between;
    padding-inline: .5rem;
    z-index: 2;
}
.carousel-left,
.carousel-right {
    font-size: 1.5rem;
    background-color: var(--neutral-700);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 2rem;
    color: var(--white);
    transition: .2s;
}
.carousel-left:hover,
.carousel-right:hover {
    background-color: var(--neutral-600);
}
.fa-chevron-right,
.fa-chevron-left {
    pointer-events: none;
}
