.categories-main {
    /* position: relative;
    max-width: 75rem;
    height: 85.5%;
    background: var(--neutral-300); */
    height: 95vh;
    background: var(--white);
}

/*
.category-main .categories {
    background-color: var(--gray-100);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 80%;
}
.category-main .categories__wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: none;
    opacity: .2;
} */