.main-products {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.main__product:not(:nth-last-child(2)) {
    border-bottom: 1px solid #d6d6d6;
}
.main__product {
    max-width: 35rem;
    width: 70vw;
    display: var(--d-grid);
    grid-template-rows: 1fr auto;
    margin-inline: auto;
    padding-bottom: 2rem;
}
.main__product-first {
    margin-bottom: .5rem;
}
.main__product-first,
.main__product-second  {
    display: var(--d-grid);
    grid-template-columns: 1fr 1fr;
    place-items: var(--center);
}
.main__product__img {
    position: relative;
    padding: 1rem;
}
.main__product-second .buy-btn{
    position: static;
    transform: none;
}
.main__product__info {
    display: var(--d-grid);
    place-items: var(--center);
}

/* GRID layout products */

/* .main-products.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.3rem, 1fr));
    grid-template-columns: 1fr 1fr;
}
.main__product.product-grid {
    width: min-content;
}
.main__product-first.product-grid,
.main__product-second.product-grid  {
    grid-template-columns: 1fr;
    place-items: var(--center);
    gap: .4rem;
}

@media (min-width: 50rem) {
    .main-products.product-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main__product.product-grid {
        width: 40vw;
        max-width: 27rem;
    }
    .main__product-first.product-grid,
    .main__product-second.product-grid {
        display: flex;
        justify-content: space-evenly;
    }
} */