.nav {
    position: relative;
    background: rgba(83, 100, 131, 0.7);
    box-shadow: 0 0 20px 10px hsla(240, 97%, 52%, 0.386);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.278);
    padding: var(--measure-1);
    position: absolute;
    z-index: 2;
    right: 0;
    width: 20rem;
    transition: .3s;
    transform-origin: top;
    opacity: 0;
    pointer-events: none;
}
.nav.active {
    pointer-events: visible;
    display: var(--d-grid);
    opacity: 1;
}
.nav__list {
    display: var(--d-flex);
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
}
.nav__item{
    position: relative;
}
.nav__list-multimedia {
    display: var(--d-flex);
    flex-direction: column;
    text-align: end;
    display: none;
    animation: multimedia-menu .5s forwards;
    opacity: 0;
}
.nav__item:hover .nav__list-multimedia {
    display: grid;
}
@keyframes multimedia-menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav__list-multimedia .nav__link{
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--measure-1);
    transition: .3s;
}
.nav__list-multimedia .nav__link:hover{
    transform: scale(1.2);
}
.nav__item i{
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: var(--white);
}
.nav__link {
    position: relative;
    color: var(--white);
    font-size: 1.125rem;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
    padding: .5rem 1.7rem;
    transition: .3s;
}
.nav__link::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: var(--time-transition);
    border-radius: 3px;
    background: hsla(0, 0%, 100%, 0.200);
    transform-origin: center;
    transform: scale(0);
}
.nav__link:hover:after {
    transform: scale(1);
}
.nav__search_cart-wrapper {
    display: none;
}
.nav__sign-in-btns {
    display: var(--d-flex);
    margin-left: auto;
    margin-block: 1rem;
}
.nav__sign-in-btns .sign-up,
.nav__sign-in-btns .registration {
    display: block;
}

/* RESPONSIVE */

@media (min-width: 60rem) {
    .nav {
        background-color: rgba(173, 206, 255, 0.171);
        box-shadow: none;
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.278);
        padding: var(--measure-1);
        position: absolute;
        width: 100%;
        transition: var(--time-transition);
        transform-origin: top;
        transform: none;
        opacity: 1;
        pointer-events: visible;
        display: var(--d-flex);
        justify-content: space-around;
    }
     .nav {
        padding: var(--measure-1);
        display: var(--d-flex);
        position: static;
    } 
    .nav__list {
        display: var(--d-flex);
        justify-content: var(--center);
        flex-direction: row;
        align-items: flex-start;
        gap: 3rem;
    }
    .nav__sign-in-btns {
        display: none;
    }
    .nav__item i {
        position: absolute;
        top: 10px;
        right: 5px;
    }
    .nav__search_cart-wrapper {
        display: var(--d-flex);
        align-items: flex-start;
        gap: 2rem;
    }
    .nav__search_cart-wrapper button{
        transition: var(--time-transition);
        margin-top: .5rem;
    }
    .nav__search_cart-wrapper button:hover{
        transform: scale(1.3);
    }
    .nav__link {
        position: relative;
        color: var(--white);
        font-size: 1.125rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: .5rem 1.7rem;
    }
    .nav__link::after {
        content: '';
        position: absolute;
        inset: 0;
        transition: var(--time-transition);
        border-radius: 3px;
    }
    .nav__list-multimedia li {
        width: max-content;
        padding: var(--measure-1);
    }
    .nav__list-multimedia {
        align-items: flex-start;
        top: 2.7rem;
        position: absolute;
        background-color: hsla(0, 0%, 0%, .8);
    }
    .nav__list-multimedia .nav__link{
        text-transform: uppercase;
        font-weight: 400;
        font-size: var(--measure-1);
    }
    .nav__list-multimedia .nav__link:hover{
        transform: scale(1);
    }
}
