.product-main {
    background-color: var(--white);
}
.single-product {
    background-color: var(--white);
    padding: var(--measure-1);
    /* width: min-content; */
    /* margin-inline: auto; */
}
.single-product__quantity-buy {
    display: var(--d-flex);
    align-items: var(--center);
    gap: .5rem;
}
.single-product__quantity-buy .buy-btn{
    width: 50%;
    display: var(--d-flex);
    justify-content: var(--center);
    align-items: var(--center);
    gap: .5rem;
    margin-inline: auto;
}
.single-product .buy-btn{
    position: static;
    transform: none;
    width: 100%;
}
.single-product__availability > div{
    display: var(--d-flex);
    align-items: var(--center);
    gap: .5rem;
}
.single-product__availability {
    padding-block: var(--measure-1);
    display: var(--d-flex);
    justify-content: space-between;
}
.single-product__availability p{
    font-weight: 500;
    color: var(--neutral-800);
}
.single-product__icon {
    background-color: var(--green-400);
    display: inline-block;
    border-radius: 50%;
    padding: .5rem;
    border: 2px solid hsl(120, 20%, 83%);
}
.single-product__quantity {
    background-color: var(--neutral-800);
    padding: .4rem;
    border: 1px solid hsl(215, 100%, 81%);
    border-radius: 3px;
    width: 30vw;
    max-width: 9rem;
    color: var(--white);
    transition: .15s;
 }
 .single-product__quantity:focus {
    background-color: var(--neutral-800);
    box-shadow: 0 0 15px hsl(203, 100%, 50%);
    outline: 1px solid hsl(203, 100%, 50%);
 }