.overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: hsla(217, 45%, 9%, 0.9);
    cursor: pointer;
    animation: overlay .3s;
}
@keyframes overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* search active */

.search {
    opacity: 0;
    pointer-events: none;
}
.search.active {
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: .5s;
    opacity: 1;
    pointer-events: visible;
}

/* best offer product */

.best-offer__wrapper .product:not(:nth-child(-n + 5)) {
    display: none;
} 
.best-offer__wrapper .product:not(:nth-child(-n + 5)).active {
    display: grid;
} 

/* best offer load more deactivated */

.best-offer__load-more.deactivated {
    background-color: var(--gray-300);
    color: var(--gray-500);
    cursor: no-drop;
}

/* shopping cart active */

.shopping-cart {
    transition: var(--time-transition);
    transform-origin: top;
    opacity: 0;
    transform: scaleY(0);
    pointer-events: none;
}
.shopping-cart.active {
    transform: scaleY(1);
    pointer-events: visible;
    opacity: 1;
}

/* shopping cart body */

.shopping-cart__body {
    pointer-events: none;
    opacity: 0;
}
.shopping-cart__body.active {
    pointer-events: visible;
    opacity: 1;
}

/* accordion active */

.accordion__body.active {
    display: grid;
    animation: accordion .7s forwards;
}
@keyframes accordion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.arrow.active{
    transform: rotateZ(180deg);
}

/* buy btn deactivated */

.buy-btn.deactivated {
    background-color: var(--gray-200);
    pointer-events: none;
}
.buy-btn.deactivated:hover {
    background-color: var(--gray-200);
}

/* scroll items up and down in shopping cart */

.shopping-cart__scroll,
.shopping-cart__scroll {
    display: none;
}

.shopping-cart__scroll.active {
    display: block;
}

/* active class for category btn */

.categories__btn.active {
    background-color: var(--blue-600);
    outline: 1px dashed #fff;
}

/* popup filter */

.alert-filter {
    pointer-events: none;
    opacity: 0;
}
.alert-filter.active {
    pointer-events: visible;
    opacity: 1;
}

/* no requested results */

.no-results {
    font-size: 1.3rem;
    color: var(--gray-700);
    text-align: center;
    padding-block: 5rem;
    user-select: none;
}

/* back to top btn */

.back-to-top {
    opacity: 0;
    pointer-events: none;
}
.back-to-top.active {
    opacity: 1;
    pointer-events: visible;
}