.container {
    margin-inline: auto;
    max-width: 95%;
}
.main {
    max-width: 60rem;
    margin-inline: auto;
}
.price {
    display: var(--d-flex);
    align-items: var(--center);
    justify-content: var(--center);
    justify-self: var(--center);
    padding: .5rem;
    border-radius: 50px;
    border: 4px solid hsl(198, 22%, 91%);
    background-color: var(--white);
    font-weight: 500;
}