button {
    background: none;
    border: none;
    cursor: pointer;
}
.categories__btn {
    background: hsl(207, 100%, 50%);
    color: #fff;
    aspect-ratio: 2/1;
    height: 3rem;
    width: 20vw;
    display: grid;
    place-items: center;
    border-radius: 4px;
    transition: .15s;
}
.categories__btn img{
    pointer-events: none;
}
.categories__btn:hover {
    background: hsl(207, 100%, 60%);
    outline: 1px solid #fff;
    outline-offset: -4px;
    outline-style: dashed;
    animation: btn 1s;
}
@keyframes btn {
    from {
        transform: perspective(250px) rotateY(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@media (min-width: 960px){
    .categories__btn {
        max-width: 12.5rem;
    }
}
.buy-btn {
    background: var(--buy-btn);
    color: var(--white);
    font-weight: 500;
    padding: .5rem 1.6rem;
    border-radius: 3px;
    transition: .14s;
}
.buy-btn:hover {
    background: hsl(105, 46%, 55%);
}
.buy-btn:hover .fa-cart-shopping{
    transition: 1s;
    transform: 
    perspective(500px)
    rotateY(360deg);   
}
.secondary-btn {
    color: var(--white);
    background-color: var(--black);
    padding: .5rem 1.7rem;
    border-radius: 3px;
    transition: var(--time-transition);
    border: 2px solid white;
    cursor: pointer;
}
.secondary-btn:hover {
    color: var(--white);
    background-color: var(--blue-400);
    box-shadow: 0 0 20px rgb(33, 93, 244);
    padding: .5rem 1.7rem;border-radius: 3px;
}

/* commenting delete btn */

.del-comment-btn {
    padding: .4rem 1.2rem; 
    margin-top: 2rem;
    background-color: var(--red-400);
    border-radius: 3px;
    color: var(--white);
    transition: var(--time-transition);
}
.del-comment-btn:hover {
    background-color: var(--red-500);
}

