.hero {
    background-color: var(--black);
}
.hero__slider-picture.current{
    display: grid;
    animation: slider 1s forwards ease-in-out;
} 
@keyframes slider {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}
.hero__slider-picture{
    display: none;
} 

