.back-to-top {
    aspect-ratio: 1;
    width: 3rem;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    border-radius: 50%;
    background-color: var(--blue-600);
    border: 3px solid #000;
    color: var(--white);
    transition: var(--time-transition);
}
.back-to-top:hover {
    border: 3px solid rgb(4, 47, 85);
    background-color: var(--blue-400);
    box-shadow: 0 0 10px blue;
}

/* breadcrumb */

.breadcrumb {
    padding: 1rem;
}
.breadcrumb__wrapper {

}
.breadcrumb__nav {

}
.breadcrumb__list {
    display: var(--d-flex);
    gap: 1rem;
}
.breadcrumb__item {
    position: relative;
    /* transition: var(--time-transition); */
}
.breadcrumb__item:not(:last-child)::after {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--blue-700);
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    transition: var(--time-transition);
    transform: scaleX(0);
    transform-origin: center;
}
.breadcrumb__item:not(:last-child):hover::after {
    transform: scaleX(1);
}
.breadcrumb__arrow {
    margin-block: auto;
    color: var(--blue-800);
}
.breadcrumb__link {
    font-weight: 500;
    color: var(--blue-700);
}
.breadcrumb__link.current{
    color: var(--gray-600);
}
