.product {
    padding: 1rem;
    max-width: 40.625rem;
    margin: auto;
    display: var(--d-grid);
    grid-template-columns: 1fr 1fr;
    height: 15.625rem;
}
.product__stars {
    display: var(--d-grid);
    grid-template-rows: auto;
    place-items: var(--center);
    height: 70%;
    margin-block: auto;
}
.product__left {
    display: var(--d-grid);
    grid-template-rows: 3fr 1fr;
}
.product__right {
    position: relative;
    display: var(--d-grid);
    grid-template-rows: auto 1fr;
}
.product__category {
    background-color: var(--orange-100);
    border-radius: 100vmax;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: var(--center);
    opacity: .6;
    transition: .15s;
}
.product__category:hover {
    opacity: 1;
    cursor: pointer;
    outline: 1px solid lightgray;
}
.product-grid .product__info {
    display: grid;
    place-items: center;
}
.product-grid .product__right {
    grid-template-rows: 3fr 1fr;
}
.product__header {
    position: relative;
    display: var(--d-grid);
    justify-content: space-evenly;
}
.product__heading {
    text-align: left;
    margin-bottom: .4rem;
}
.product__img {
    position: relative;
    padding: 1rem;
}
.product__img img {
    max-width: 50%;
    min-width: 7rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.product__description {
    color: var(--neutral-800);
    text-align: left;
}
.product__footer {
    display: var(--d-grid);
    grid-template-columns: 1fr 1fr;
    place-items: var(--center);
}
.buy-btn {
    width: max-content;
    height: max-content;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 0;
}
.product:not(:last-child){
    border-bottom: 1px solid hsl(206, 24%, 80%);
    text-align: var(--center);
}
/* -------------------GRID ------------------------ */
.product-grid.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.product.grid {
    padding: 1rem;
    max-width: 40.625rem;
    margin: auto;
    display: var(--d-grid);
    grid-template-columns: 1fr;
    height: max-content;
}
.product__left.grid {
    display: var(--d-grid);
    grid-template-rows: 3fr 1fr;
    display: contents;
}
.product__left .product__price.grid{
    order: 3;
}
.product__right.grid {
    position: relative;
    display: contents;
}
.product__category {
    background-color: var(--orange-100);
    border-radius: 100vmax;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: var(--center);
    opacity: .6;
    transition: .15s;
}
.product__category:hover {
    opacity: 1;
    cursor: pointer;
    outline: 1px solid lightgray;
}
.product__link {
    /* position: relative; */
}
.product-grid .product__info.grid {
    display: grid;
    place-items: center;
    margin-block: .5rem;
}
.product-grid .product__right.grid {
    grid-template-rows: 3fr 1fr;
}
.product__heading {
    text-align: left;
    margin-bottom: .4rem;
}
.product__img img.grid {
    position: relative;
    aspect-ratio: 1;
    margin-inline: auto;
    transform: none;
    top: 0;
    left: 0;
}
.buy-btn.grid {
    position: static;
    transform: none;
    width: max-content;
    height: max-content;
    margin-block: .5rem;
    margin-inline: auto;
    order: 4;
}
.product:not(:last-child){
    border-bottom: none;
    text-align: var(--center);
}
@media (min-width: 740px) {
    .product.grid {
        padding: 2rem;
        max-width: 40.625rem;
        margin: auto;
        display: var(--d-grid);
        grid-template-columns: 1fr 1fr;
        height: 15.625rem;
    }
    .product__left.grid {
        display: var(--d-grid);
        grid-template-rows: 3fr 1fr;
    }
    .product__right.grid {
        position: relative;
        display: var(--d-grid);
        grid-template-rows: auto 1fr;
    }
    .product__category:hover {
        opacity: 1;
        cursor: pointer;
        outline: 1px solid lightgray;
    }
    .product-grid .product__info.grid {
        display: grid;
        place-items: center;
    }
    .product-grid .product__right.grid {
        grid-template-rows: 3fr 1fr;
    }
    .product__img img.grid {
        max-width: 50%;
        min-width: 7rem;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    .buy-btn.grid {
        width: max-content;
        height: max-content;
        position: absolute;
        transform: translate(-50%);
        left: 50%;
        bottom: 0;
    }
}
