.search {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: hsla(211, 36%, 36%, 0.918);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: fit-content;
    padding: 3rem;
    border-radius: 3px;
    color: var(--white);
    box-shadow: 0 0 16px hsl(240, 80%, 48%);
    cursor: auto;
    z-index: 2;
}

.search__form i{
    padding: 5px;
}
.search__fieldset {
    border: none;
}
.search__input {
    background-color: var(--black);
    border: 1px solid rgb(55, 55, 146);
    transition: var(--time-transition);
    padding: .3rem;
    border-radius: 100vmax;
}
.search__input:focus {
    background-color: var(--neutral-900);
    outline: 1px solid hsl(240, 73%, 65%);
    color: var(--white);
    
}
.search__input::placeholder {
    transform: translateX(1rem);
}
.search-icon {
    transform: translateX(-3rem);
}
.search__input:focus + .search-icon {
    animation: search-icon .8s forwards;
}
@keyframes search-icon {
    to {
        transform: translateX(-14rem);
    }
}
.search__submit {
    background-color: var(--black);
    color: var(--white);
    padding: .25rem 1rem;
    cursor: pointer;
    border-radius: 50px;
    transform: translateX(-1.5rem);
    transition: var(--time-transition);
}
.search__submit:hover {
    background-color: var(--neutral-700);
    color: var(--white);
    padding: .25rem 1rem;
    cursor: pointer;
    border-radius: 50px;
}
.search__list {

}
.search__item {

}